body {
  background: rgba(55,55,250,1);
  color: white;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  margin-top: .25em;
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
p {
  font-size: 30px;
}
a {
  color: white;
}
.nav {
  margin-top: -5.5em;
  text-align: left;
  font-size: 1.25em;
}
/* 800px is where the address starts to wrap around, so I go to the smaller fonts so it fits better */
@media(max-width: 800px){
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 25px;
  }
  p {
    font-size: 20px;
  }
}
